[submodule "repos/loka"]
	path = repos/loka
	url = https://github.com/EmmaLeonhart/Loka
[submodule "repos/querykey"]
	path = repos/querykey
	url = https://github.com/EmmaLeonhart/querykey
[submodule "repos/alignment"]
	path = repos/alignment
	url = https://github.com/EmmaLeonhart/alignment
[submodule "repos/latent-space-cartography"]
	path = repos/latent-space-cartography
	url = https://github.com/EmmaLeonhart/latent-space-cartography
[submodule "repos/vibecoding-tutorial"]
	path = repos/vibecoding-tutorial
	url = https://github.com/EmmaLeonhart/vibecoding-tutorial
[submodule "repos/cleanvibe"]
	path = repos/cleanvibe
	url = https://github.com/EmmaLeonhart/cleanvibe
[submodule "repos/reservoir"]
	path = repos/reservoir
	url = https://github.com/EmmaLeonhart/reservoiragent
[submodule "repos/links"]
	path = repos/links
	url = https://github.com/EmmaLeonhart/links
[submodule "redirects/sutradb.org"]
	path = redirects/sutradb.org
	url = https://github.com/EmmaLeonhart/sutradb.org-redirect.git
[submodule "redirects/sutra.yantraos.org"]
	path = redirects/sutra.yantraos.org
	url = https://github.com/EmmaLeonhart/sutra.yantraos.org-redirect.git
[submodule "redirects/sutralang.dev"]
	path = redirects/sutralang.dev
	url = https://github.com/EmmaLeonhart/sutralang.dev-redirect.git
[submodule "redirects/sutra.noldor.tech"]
	path = redirects/sutra.noldor.tech
	url = https://github.com/EmmaLeonhart/sutra.noldor.tech-redirect.git
[submodule "redirects/sutra.emmaleonhart.com"]
	path = redirects/sutra.emmaleonhart.com
	url = https://github.com/EmmaLeonhart/sutra.emmaleonhart.com-redirect.git
[submodule "redirects/yantra.emmaleonhart.com"]
	path = redirects/yantra.emmaleonhart.com
	url = https://github.com/EmmaLeonhart/yantra.emmaleonhart.com-redirect.git
