[submodule "repos/sutra"]
	path = repos/sutra
	url = https://github.com/EmmaLeonhart/Sutra
[submodule "repos/loka"]
	path = repos/loka
	url = https://github.com/EmmaLeonhart/Loka
[submodule "repos/yantra"]
	path = repos/yantra
	url = https://github.com/EmmaLeonhart/Yantra
[submodule "repos/querykey"]
	path = repos/querykey
	url = https://github.com/EmmaLeonhart/querykey
[submodule "repos/alignment"]
	path = repos/alignment
	url = https://github.com/EmmaLeonhart/alignment
[submodule "repos/latent-space-cartography"]
	path = repos/latent-space-cartography
	url = https://github.com/EmmaLeonhart/latent-space-cartography
[submodule "repos/vibecoding-tutorial"]
	path = repos/vibecoding-tutorial
	url = https://github.com/EmmaLeonhart/vibecoding-tutorial
[submodule "repos/cleanvibe"]
	path = repos/cleanvibe
	url = https://github.com/EmmaLeonhart/cleanvibe
[submodule "repos/reservoir"]
	path = repos/reservoir
	url = https://github.com/EmmaLeonhart/reservoiragent
[submodule "repos/links"]
	path = repos/links
	url = https://github.com/EmmaLeonhart/links
